.ng-cloak {
  display: none
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  outline: none;
}

body {
  margin-bottom: 100px;
}

/* messages fanciness */
.my-messages {
  position: relative;
}

.my-messages, .some-message {
  opacity: 1;
  transition: .3s linear all;
  top: -8px;
}

.some-message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
}

.my-messages.ng-enter.ng-enter-active,
.some-message.ng-enter.ng-enter-active {
  opacity: 1;
  top: -8px;
}

.my-messages.ng-enter,
.some-message.ng-enter {
  opacity: 0;
  top: -18px;
}

.my-messages.ng-leave,
.some-message.ng-leave {
  opacity: 1;
  top: -8px;
}

.my-messages.ng-leave-active,
.some-message.ng-leave-active {
  opacity: 0;
  top: -18px;
}
